.meetUs {
  width: 1198px;
  margin: 0 auto;
  margin-bottom: 75px;
}
.meetUs-block {
  display: block;
  position: relative;
  max-width: 270px;
  margin: 15px 16px 15px 15px;
}
.meetUs__profile {
  display: block;
  position: absolute;
  bottom: 0;
  min-height: 68px;
  background-color: @gray;
  opacity: 0.94;
  width: 100%;
  text-align: center;
  box-sizing: border-box;
  padding-top: 15px;
  z-index: 1;
}
.meetUs-block__name, .meetUs-block__profession {
  display: block;
  color: white;
}
.meetUs-block__name {
  font-weight: 400;
  color: white;
}
.meetUs-block__profession {
  font-weight: 100;
}
.meetUs-blocks {
  display: flex;
  flex-direction: row;
  flex-wrap: nowrap;
  justify-content: space-between;
}




.meetUs-block:hover {
  .meetUs-hide {
    display: block;
  }
  .meetUs__profile {
    display: none;
  }
}
.meetUs-hide {
  display: none;
  width: 100%;
  height: 100%;
  box-shadow: 0 0 0 15px @global-main-color;
  position: absolute;
  background-color: @global-main-color;
  opacity: 0.9;
  z-index: 2;
}
.meetUs-hide-profile {
  display: block;
  text-align: center;
  padding-top: 125px;
}
.meetUs-block__name-profile,
.meetUs-block__profession-profile {
  display: block;
  color: white;
  font-size: 18px;
}
.meetUs-block__name-profile {
  font-weight: 400;
}
.meetUs-hide__social {
  display: block;
  position: absolute;
  bottom: 24px;
  width: 100%;
  text-align: center;
}
.meetUs-hide__social-list {
  margin: 0;
  padding: 0;
  padding-top: 5px;
  padding-bottom: 5px;
  border-bottom: 1px solid white;
  border-top: 1px solid white;
}
.meetUs-hide__social li {
  list-style: none;
  display: inline-block;
  vertical-align: top;
  margin-right: 15px;
}
.meetUs-hide__social li a {
  text-decoration: none;
  color: white;
}
